.blue-gradation {
    background: rgb(1, 168, 201);
    background: -moz-linear-gradient(270deg, rgba(1, 168, 201, 1) 0%, rgba(11, 11, 181, 1) 65%, rgba(10, 4, 106, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(1, 168, 201, 1) 0%, rgba(11, 11, 181, 1) 65%, rgba(10, 4, 106, 1) 100%);
    background: linear-gradient(270deg, rgba(1, 168, 201, 1) 0%, rgba(11, 11, 181, 1) 65%, rgba(10, 4, 106, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01a8c9", endColorstr="#0a046a", GradientType=1);
}

p.blue-gradation {
    color: rgb(211, 229, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.blue-gradation {
    color: white;
}

.gray-gradation {
    background: rgb(208, 208, 208);
    background: -moz-linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(179, 179, 179, 1) 35%, rgba(75, 75, 75, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(179, 179, 179, 1) 35%, rgba(75, 75, 75, 1) 100%);
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(179, 179, 179, 1) 35%, rgba(75, 75, 75, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0d0d0", endColorstr="#4b4b4b", GradientType=1);
}