@charset "utf-8";
@media screen and (max-width:767px) {
    /*　画面サイズが767px以下の場合読み込む　*/
    .pagination {
        flex-wrap: wrap;
    }
}

.box1 {
    margin-top: -5vh;
}

h1.description-title {
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.description-content {
    font-size: 18px;
}

img.description-service-image {
    width: 200px;
    height: 200px;
}