@charset "utf-8";

/* @media screen and (max-width: 769px){
    
}

@media screen and (min-width: 770px) { */
    .container{
        margin-top: 80px;
        
    }
    h1.description-title{
        font-size: 30px;
        color: #007bff;
    }
    p.description-content {
        color: black;
        font-size: 18px;
    }
    img.description-service-image{
        width:200px;
        height:200px;
    }
    /* .btn {
        display: flex;
        justify-content: center;
        width: 300px;
        text-decoration: none;
        background-color: #3169d1;
        color: #fff !important;
        cursor: pointer;
        border-radius: 50px;
    }
    .btn:hover {
        background-color: #6096fa;
    } */
/* } */