@charset "utf-8";
@media screen and (max-width: 767px) {
    div.box-1 {
        text-align: center;
    }
    div.box-2 {
        margin-top: 10%;
        text-align: center;
    }
}

div.container {
    margin-top: 80px;
}

h1.description-title {
    font-size: 30px;
    color: #007bff;
}

p.description-content {
    color: black;
    font-size: 18px;
}

img.description-service-image {
    width: 200px;
    height: 200px;
}