@charset "utf-8";

footer{
    height: 60px;
    background-color: rgb(245, 245, 245);
}

p.site-name{
    color:rgb(211, 229, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}