header{ 
    background-color: rgb(245, 245, 245);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 20px;
}

.HeaderElement{
    display: flex;
    justify-content: space-around;
}

img.SiteName{
    margin-left: 20px;
}

ul.SignUpElement{
    display: flex;
    list-style:none;
    top:0px;
    right:2%;
}

li.Item{
    white-space: nowrap;
    margin-left: 25px;
}

a.Url{
    color:rgb(80, 80, 80);
    font-size: 17px;
    font-weight:bold;
    font-family: monospace;
    text-decoration:none;
    cursor: pointer;
}

a.Url::before,
a.Url::after {
  width: 0;
  height: 1px;
  background-color: #333;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

a.Url:hover{
    color: #8f8f8f;
}